<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.ml.expandable">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">

        <activity android:name="com.ml.test.ExpandAbleActivity"
            android:screenOrientation="portrait"

            />
        <activity android:name="com.ml.test.ExpandAblePlusActivity"
            android:screenOrientation="portrait"

            />
        <activity android:name="com.ml.errt.MainActivity"
            android:screenOrientation="portrait"

            />

    </application>

</manifest>
